#!/usr/bin/env sh
# ~/.xprofile
# This file runs when a DM logs you into a graphical session.
# If you use startx/xinit like a Chad, this file will also be sourced.

setbg &			# Set the background with the `setbg` script
sxhkd -m 1 &	# Bind keys with sxhkd
remaps &		# Run the remaps script, switching caps/esc and more; check it for more info
unclutter &		# Remove mouse when idle
xcompmgr &		# xcompmgr for transparency
dunst &			# dunst for notifications

$STATUSBAR &		# script for updating the status bar
mpd-module-update &	# Check for when to update the mpd module
notify-send -i /home/luke/.local/share/larbs/larbs.png "Welcome to LARBS" "Press super+F1 for the help menu." # LARBSWELCOME
